:root {
	--border-color: #ddd;
	--table-bg: #f2f2f2;
	--header-text-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  text-align: center;
  border: 1px solid var(--border-color);
  width: max-content;
}

table tr:nth-child(even) {
  background-color: var(--table-bg);
}

table tr:nth-child(even):hover {
  @apply bg-gray-200
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: var(--header-text-color);
}

table {
	@apply w-full text-sm text-left
}

thead {
	@apply text-xs text-gray-700 uppercase bg-gray-50
}

th {
	@apply px-6 py-3 text-sm
}

tr {
	@apply bg-white border-b hover:bg-gray-200
}

td {
	@apply  p-2 font-medium text-gray-900
}
