@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Catamaran:wght@500&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--active-color: #B683AB;
}

.font-montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font-opensans {
	font-family: 'Open Sans', sans-serif;
}
.font-pacifico {
	font-family: 'Pacifico', cursive;
}
.font-catamaran {
	font-family: 'Catamaran', sans-serif;
}
.font-banger {
	font-family: 'Bangers', serif;
}

.active {
	color: var(--active-color);
	font-weight: 500;
}

.debug {
	border: 2px solid blue;
}

.debug > * {
	border: 1px solid red;
}

.debug > * > * {
	border: 1px solid green;
}

.dropdown > * {
	padding: 8px 32px;
}
